<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="description" content="Driver Panel">
    <title>Driver Panel</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="/static/js/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/vue.resource/1.0.3/vue-resource.min.js"></script>
    <script src="/map.js"></script>
    <script src="https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/markerclusterer.js">
    </script>
    <style>
            #map {
            height: 50%;
          }
          /* Optional: Makes the sample page fill the window. */
          html, body {
            height: 100%;
            margin: 0;
            padding: 0;
          }
    </style>

    <script>

var COLUMNS = 7;

function createHeader() {
    var hdr = [{
        row: 0,
        col: 0,
        text: ''
    }];
    for (var i=1; i<=COLUMNS; i++) {
        hdr.push({
            row: 0,
            col: i,
            text: 'Day '+i
        });
    }
    return hdr;
}

function createRow(rIndex) {
    var row = [{
        row: rIndex,
        col: 0,
        contentEditable: false,
        text: '' + rIndex,
        align: 'left'
    }];
    for (var i=1; i<=COLUMNS; i++) {
        row.push({
            row: rIndex,
            col: i,
            contentEditable: true,
            text: '',
            align: 'left'
        });
    }
    return row;
}

function createRows() {
    var rows = [];
    for (var i=1; i<=24; i++) {
        rows.push(createRow(i));
    }
    return rows;
}


$(function () {
        var vm = new Vue({
        el: '#sheet',
        data: {
            header: createHeader(),
            rows: createRows(),
            selectedRowIndex: 0,
            selectedColIndex: 0
        },
        methods: {
            refresh: function () {
                var that = this;
                //request data from server
                that.$resource('/refresh').get().then(function (resp) {
                    resp.json().then(function (result) {
                        alert("requested data from server:" + result.message)
                        //TO DO: set data
                    });
                }, function (resp) {
                    alert('Failed to load.');
                });
            },
            post: function () {
                //post data to server
                this.$resource('/apply' + ID).save({
                    rows: this.rows
                }).then(function (resp) {
                    console.log('saved ok.');
                }, function (resp) {
                    alert('failed to save.');
                });
            },
            focus: function (cell) {
                this.selectedRowIndex = cell.row;
                this.selectedColIndex = cell.col;
            },
            change: function (e) {
                var
                    rowIndex = this.selectedRowIndex,
                    colIndex = this.selectedColIndex,
                    text;
                if (rowIndex > 0 && colIndex > 0) {
                    text = e.target.innerText;
                    this.rows[rowIndex - 1][colIndex].text = text;
                }
            }
        }
    });
    window.vm = vm;

    var setAlign = function (align) {
        var
            rowIndex = vm.selectedRowIndex,
            colIndex = vm.selectedColIndex,
            row, cell;
        if (rowIndex > 0 && colIndex > 0) {
            row = vm.rows[rowIndex - 1];
            cell = row[colIndex];
            cell.align = align;
        }
    };

    $('#cmd-refresh').click(function () {
        vm.refresh();
    });

    $('#cmd-post').click(function () {
        vm.post();
    });

    $('#cmd-left').click(function () {
        setAlign('left');
    });

    $('#cmd-center').click(function () {
        setAlign('center');
    });

    $('#cmd-right').click(function () {
        setAlign('right');
    });

    $('#toolbar button').focus(function () {
        $(this).blur();
    });
});

    </script>
</head>

<body>
    <header class="navbar navbar-static-top">
        <div class="container">
            <div class="navbar-header">
                <a href="/" class="navbar-brand">Index</a>
            </div>
            <nav class="collapse navbar-collapse" id="bs-navbar">
                <ul class="nav navbar-nav">
                    <li><a target="_blank" href="/driverPage">Driver</a></li>
                    <li><a target="_blank" href="#">Passenger</a></li>
                    <li><a target="_blank" href="/profile">Profile</a></li>
                </ul>
            </nav>
        </div>
    </header>
    <!-- <input id="pac-input" class="controls" type="text" placeholder="Search Box"> -->
            <div id="map" height="460px" width="100%"></div>
   <div class="container">
        <div class="row">
            <div class="col-sm-8">
                
            </div>
        
            <div class="col-sm-4">
                    <span class="glyphicon glyphicon-th-list"></span> panel
                    <button id="cmd-refresh" type="button" class="btn btn-default navbar-btn"><i class="glyphicon glyphicon-refresh"></i> Refresh</button>
                    <button id="cmd-post" type="button" class="btn btn-default navbar-btn"><i class="glyphicon glyphicon-send"></i> Post</button>
                    <table id="sheet" class="table table-bordered">
                        <thead>
                            <tr>
                                <th v-for="cell in header" v-on:click="focus(cell)" v-text="cell.text"></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr v-for="tr in rows">
                                <td v-for="cell in tr" v-on:click="focus(cell)" v-on:blur="change" v-bind:contenteditable="cell.contentEditable" v-bind:style="{ textAlign: cell.align }" v-text="cell.text"></td>
                            </tr>
                        </tbody>
                    </table>
            </div>
        </div>
    </div>

    <footer style="background-color:#ddd; padding: 20px 0;">
        <div class="container">
            <p>
                <a href="#">Contact Us</a>
            </p>
            <p>This application is created for CS601 side project</p>
        </div>
    </footer>

    <script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCdRxq9UR0bm3ORAE_GAxYyOrIzdwNQ0dw&libraries=places&callback=initMap">
    </script>
</body>

</html>