<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="description" content="Driver Panel">
    <title>Driver Panel</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="/static/js/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/vue.resource/1.0.3/vue-resource.min.js"></script>
    <script src="/map.js"></script>
    <script src="https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/markerclusterer.js"></script>

    <style>
        #map{
            height: 600px;
            width: 100%;
        }
        /* Optional: Makes the sample page fill the window. */
        html, body {
            height: 100%;
            margin: 0;
            padding: 0;
        }

        .tablink {
            background-color: #555;
            color: white;
            float: left;
            border: none;
            outline: none;
            cursor: pointer;
            padding: 14px 16px;
            font-size: 17px;
            width: 50%;
        }

        .tablink:hover {
            background-color: #777;
        }

        /* Style the tab content */
        .tabcontent {
            display: none;
            padding: 50px;
            text-align: center;
        }

        .waitingColor {
            color: rgb(240, 221, 50);
        }
        .confirmedColor {
            color: rgb(16, 128, 6);
        }

        .subchoicebtn {
            overflow: hidden;
            background-color: rgb(240, 232, 232); 
        }

        .subchoice-content {
            display: none;
            position: absolute;
            background-color: rgb(90, 83, 83);
            left: 0;
            width: 70%;
            z-index: 1;
        }
        
        .subchoice:hover .subchoice-content  {
            background-color: rgb(235, 232, 232);
            display: block;
        }
    </style>

    <script>

        var COLUMNS = 7;

        function createHeader() {
            var hdr = [{
                row: 0,
                col: 0,
                text: ''
            }];
            for (var i = 1; i <= COLUMNS; i++) {
                hdr.push({
                    row: 0,
                    col: i,
                    text: 'Day ' + i
                });
            }
            return hdr;
        }

        function createRow(rIndex) {
            var row = [{
                row: rIndex,
                col: 0,
                contentEditable: true,
                text: '' + rIndex,
                align: 'left'
            }];
            for (var i = 1; i <= COLUMNS; i++) {
                row.push({
                    row: rIndex,
                    col: i,
                    contentEditable: true,
                    text: '',
                    align: 'left'
                });
            }
            return row;
        }

        function createRows() {
            var rows = [];
            for (var i = 8; i <= 20; i++) {
                rows.push(createRow(i));
            }
            return rows;
        }


        $(document).ready(function () {
            $("#defaultOpen").click();
            var vm = new Vue({
                el: '#sheet',
                data: {
                    header: createHeader(),
                    rows: createRows(),
                    selectedRowIndex: 0,
                    selectedColIndex: 0
                },
                methods: {
                    refresh: function () {
                        runTimeData.user.repeatedPost;
                        additionalPost;
                        cancellationPost;
                        repeatApplicationForPost;
                        addApplicationForPost;

                        //set rows
                        for (var rowIndex = 8; rowIndex <= 20; rowIndex++) {
                            for (var colIndex = 1; colIndex <= COLUMNS; colIndex++) {
                                this.rows[rowIndex][colIndex].text = "has";
                            }
                        }
                    },
                    post: function () {
                        //post data to server
                        this.$resource('/apply' + ID).save({
                            rows: this.rows
                        }).then(function (resp) {
                            console.log('saved ok.');
                        }, function (resp) {
                            alert('failed to save.');
                        });
                    },
                    focus: function (cell) {
                        this.selectedRowIndex = cell.row;
                        this.selectedColIndex = cell.col;
                    },
                    change: function (e) {
                        var
                            rowIndex = this.selectedRowIndex,
                            colIndex = this.selectedColIndex,
                            text;
                        if (rowIndex > 0 && colIndex > 0) {
                            text = e.target.innerText;
                            this.rows[rowIndex - 1][colIndex].text = text;
                        }
                    },
                    changeColor: function (e) {
                        var
                            rowIndex = this.selectedRowIndex,
                            colIndex = this.selectedColIndex;
                        lc = getSelectedLocation();
                        if (rowIndex > 0 && colIndex > 0) {
                            addNewLocationToMarker(lc.lat, lc.lng);
                            alert(lc.lat + " , " + lc.lng);
                            e.target.waitingColor;
                        }
                    }
                }
            });
            window.vm = vm;

            var setAlign = function (align) {
                var
                    rowIndex = vm.selectedRowIndex,
                    colIndex = vm.selectedColIndex,
                    row, cell;
                if (rowIndex > 0 && colIndex > 0) {
                    row = vm.rows[rowIndex - 1];
                    cell = row[colIndex];
                    cell.align = align;
                }
            };



            $('#cmd-refresh').click(function () {
                refreshData();
                vm.refresh();
            });

            $('#cmd-post').click(function () {
                vm.post();
            });

            $('#cmd-left').click(function () {
                setAlign('left');
            });

            $('#cmd-center').click(function () {
                setAlign('center');
            });

            $('#cmd-right').click(function () {
                setAlign('right');
            });

            $('#toolbar button').focus(function () {
                $(this).blur();
            });
        });

        function openTab(tabEleID, elmnt) {
            //TODO change into jquery
            var i, tabcontent, tablinks;
            tabcontent = document.getElementsByClassName("tabcontent");
            for (i = 0; i < tabcontent.length; i++) {
                tabcontent[i].style.display = "none";
            }
            tablinks = document.getElementsByClassName("tablink");
            for (i = 0; i < tablinks.length; i++) {
                tablinks[i].style.backgroundColor = "";
            }
            document.getElementById(tabEleID).style.display = "block";
            elmnt.style.backgroundColor = "grey";
        }
    </script>
</head>

<body onload="refreshData()">

    <button class="tablink" onclick="openTab('RepeatedPost', this)" id="defaultOpen">RepeatedPost</button>
    <button class="tablink" onclick="openTab('SinglePost', this)">SinglePost</button>
    

    <div class="container">
        <div class="row">
            <div class="col-sm-8">
                <br />
                <br />
                <input id="pac-input" class="controls" type="text" placeholder="Search Box">
                <div id="map"></div>
            </div>

            <div id="RepeatedPost" class="tabcontent col-sm-4">

                
                    <table id="sheet" class="table table-bordered">
                        <thead>
                            <tr>
                                <th v-for="cell in header" v-on:click="focus(cell)" v-text="cell.text"></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr v-for="tr in rows">
                                <td v-for="cell in tr" v-on:click="focus(cell)" v-on:blur="changeColor" v-text="cell.text"></td>
                            </tr>
                        </tbody>
                    </table>

                    <div class="tripchoice">
                        <div class="subchoice">
                            <button class="subchoicebtn">To Campus/From Campus</button>
                            <div class="subchoice-content">
                                <div id="to_campus">To Campus</div>
                                <div id="from_campus">From Campus</div>
                            </div>
                        </div>
                    </div>
                    <button id="cmd-refresh" type="button" class="btn btn-default tripchoice-btn"><i class="glyphicon glyphicon-refresh"></i>
                        Refresh</button>
                    <button id="cmd-post" type="button" class="btn btn-default tripchoice-btn"><i class="glyphicon glyphicon-send"></i>
                        Post</button>
                
            </div>

            <div id="SinglePost" class="tabcontent col-sm-4">
                
                    

                    <div class="tripchoice">
                        <div class="subchoice">
                            <button class="subchoicebtn">To Campus/From Campus</button>
                            <div class="subchoice-content">
                                <div id="to_campus">To Campus</div>
                                <div id="from_campus">From Campus</div>
                            </div>
                        </div>
                    </div>
                    <button id="cmd-refresh" type="button" class="btn btn-default tripchoice-btn"><i class="glyphicon glyphicon-refresh"></i>
                        Refresh</button>
                    <button id="cmd-post" type="button" class="btn btn-default tripchoice-btn"><i class="glyphicon glyphicon-send"></i>
                        Post</button>
                
            </div>



            <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCdRxq9UR0bm3ORAE_GAxYyOrIzdwNQ0dw&libraries=places&callback=initMap">
            </script>

</body>

</html>