.textColorInfo {
    color: black; 
}

.textColorWhite {
    color: white;
}

.textColorError {
    color: rgb(248, 95, 95);
}

.textColorSuccess {
    color: rgb(124, 255, 163);
}

.borderColorInfo {
    border-bottom-color: #64e7f8;
    border-top-color: #64e7f8;
    border-right-color: #64e7f8;
    border-left-color: #64e7f8;
}

.backgroundColorInfo {
    background-color: #64e7f8;
}

.backgroundColorError {
    background-color: rgb(243, 136, 136);
}

.backgroundColorSuccess {
    background-color: rgb(139, 223, 139);
}

.header {
    height: 80px;
    background-color: aliceblue;
}

.unselectable{
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}