.textColorInfo {
    color: black; 
}

.textColorSuccess {
    color: rgb(255, 255, 255);
}

.borderColorInfo {
    border-bottom-color: #64e7f8;
    border-top-color: #64e7f8;
    border-right-color: #64e7f8;
    border-left-color: #64e7f8;
}

.backgroundColorInfo {
    background-color: #64e7f8;
}

.backgroundColorError {
    background-color: rgb(243, 136, 136);
}

.backgroundColorSuccess {
    background-color: rgb(139, 223, 139);
}

.header {
    height: 80px;
    background-color: aliceblue;
}