* {
    box-sizing: border-box;
}

input.input {
    font-size: 20px;
    width: 80%;
    max-width: 500px;
    margin: auto;
    padding-top: 10px;
    border-style: none none solid none;
    border-width: 2px;
    display: block;
}

.title {
    font-size: 20px;
    width: 80%;
    max-width: 500px;
    text-align: center;
    margin: auto;
    display: block;
    padding: 20px;
}

.error {
    font-size: 15px;
    display: block;
    margin: auto;
    width: 80%;
    max-width: 500px;
    margin-bottom: 20px;
    opacity: 0;
    visibility: hidden;
}

a.loginBtn {
    width: 80%;
    max-width: 500px;
    border-radius: 5px;
    margin: auto;
    padding: 5px;
    display: block;
    text-align: center;
    font-size: 20px;
}

a.loginBtn:hover{
    cursor: pointer;
}

a.loginBtn:active{
    box-shadow: 0px 0px 8px 2px rgba(128, 128, 128, 0.5)
}

.emptyLine{
    height: 50px;
}