* {
    box-sizing: border-box;
}

input.input {
    font-size: 20px;
    width: 80%;
    max-width: 500px;
    margin: auto;
    border-style: none none solid none;
    border-width: 2px;
}

.inputLabel {
    font-size: 17px;
}