<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="description" content="passenger page">
    <title>passenger page</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="/static/js/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/vue.resource/1.0.3/vue-resource.min.js"></script>
    <script src="/map.js"></script>
    <script src="/index.js"></script>
    <script src="https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/markerclusterer.js">
    </script>
    <script src="../driverlist.js"></script>
    <script src="../clickShowDriverList.js"></script>
    <script src="../driverlist.js"></script>
    
    <link rel="stylesheet" href="../css/window.css">
    <style>
            #map {
            /* height: 50%; */
            width: 100%;
            height: 600px;
          }
          .tablink {
            background-color: #555;
            color: white;
            float: left;
            border: none;
            outline: none;
            cursor: pointer;
            padding: 14px 16px;
            font-size: 17px;
            width: 50%;
        }
        .tablink:hover {
            background-color: #777;
        }
          /* Optional: Makes the sample page fill the window. */
          html, body {
            height: 100%;
            margin: 0;
            padding: 0;
          }
    </style>

<script>

var COLUMNS = 7;
var DAYNAME = {"1":"MON","2":"TUE","3":"WED","4":"THUR","5":"FRI","6":"SAT","7":"SUN"};
var ROWS = 13;

function createHeader() {
    var hdr = [{
        row: 0,
        col: 0,
        text: ''
    }];

    for (var i=1; i<=COLUMNS; i++) {
        hdr.push({
            row: 0,
            col: i,
            text: DAYNAME[i+""]
        });
    }

    return hdr;
}


function createRow(rIndex) {
    var row = [{
        row: rIndex,
        col: 0,
        contentEditable: false,
        text: '' + rIndex + ':00',
        align: 'left',
        color: "white"
    }];
    for (var i=1; i<=COLUMNS; i++) {
        row.push({
            row: rIndex,
            col: i,
            contentEditable: false,
            text: '',
            align: 'left',
            color: "white"
        });
    }
    return row;
}

function createRows() {
    var rows = [];
    for (var i = 8; i < 8+ROWS; i++) {
        rows.push(createRow(i));
    }
    return rows;
}

function setRows(data, rows) {
    for(var i=0; i<ROWS; i++) {
        var row = rows[i];
        for(var j=0; j<COLUMNS; j++) {
            row[j+1]["text"] = data[j][i];
        }
    }
}

function resetAllCellsColor(rows) {
    for(var i=0; i<ROWS; i++) {
        var row = rows[i];
        for(var j=0; j<=COLUMNS; j++) {
            row[j]["color"] = "white";
        }
    }
}

$(function () {
        var vm = new Vue({
        el: '#sheet',
        data: {
            header: createHeader(),
            rows: createRows(),
            selectedRowIndex: 0,
            selectedColIndex: 0,
            semester: "1",
            passengerNumber: 1,
            range: 10,
            type: 0,
            startDate:20181211,
            endDate:20181220
        },
        methods: {
            refresh: function () {
                console.log("userId:" + parent.runTimeData.user.userId);
                console.log("sessionID:" + parent.runTimeData.user.session);
                var that = this;
                //request data from server
                var lc = getSelectedLocation();
                var lat = lc.lat;
                var long = lc.lng;
                that.$resource('/repeatedPanel').save({
                    // "userID":localStorage.getItem("userId"),
                    "userID":parent.runTimeData.user.userId,
                    // "sessionID":localStorage.getItem("sessionID"),
                    "sessionID":parent.runTimeData.user.session,
                    "searchCondition":{
                            "semester":this.semester,
                            "passengerNumber":this.passengerNumber,
                            "lat":lat,
                            "long":long,
                            "range":this.range,
                            "type": this.type
                        }
                }).then(function (resp) {
                    resp.json().then(function (result) {
                        console.log("requested data from server:" )
                        console.log(result.availSeatsCount);
                        setRows(result.availSeatsCount, that.rows);
                    });
                }, function (resp) {
                    alert('Failed to refesh data from server.');
                });
            },
            apply: function () {
                //post data to server
                var time = this.selectedRowIndex;
                var day = this.selectedColIndex;
                var passnum = this.passengerNumber;
                console.log(postIDs);
                console.log("------");
                this.$resource('/repeatedApply').save({
                    // "userID":localStorage.getItem("userId"),
                    "userID":parent.runTimeData.user.userId,
                    // "sessionID":localStorage.getItem("sessionID"),
                    "sessionID":parent.runTimeData.user.session,
                    // "postIDs":["5c006444ed1026268a0a5fe5"],
                    "postIDs":postIDs,
                    "day":day,
                    "time":time,
                    "passengerNumber":parseInt(passnum),
                }).then(function (resp) {
                    console.log('saved ok.');
                    resp.json().then(function (result) {
                        console.log(result);
                    });
                }, function (resp) {
                    alert('failed to save.');
                });
            },
            focus: function (cell) {
                this.selectedRowIndex = cell.row;
                this.selectedColIndex = cell.col;
                var time = cell.row;
                var day = cell.col;
                resetAllCellsColor(this.rows);
                cell.color = "yellow";
                var lc = getSelectedLocation();
                var lat = lc.lat;
                var long = lc.lng;
                var passnum = this.passengerNumber;
                this.$resource('/repeatedDriverList').save({
                    // "userID":localStorage.getItem("userId"),
                    "userID":parent.runTimeData.user.userId,
                    // "sessionID":localStorage.getItem("sessionID"),
                    "sessionID":parent.runTimeData.user.session,
                    "searchCondition":
                    {
                        "semester":this.semester,
                        "day":day,
                        "time":time,
                        "passengerNumber":this.passengerNumber,
                        "lat":lat,
                        "long":long,
                        "range":this.range,
                        "type": this.type
                    }
                }).then(function (resp) {
                    console.log('fetch repeated OK');
                    resp.json().then(function (result) {
                        // console.log("----");
                        console.log(result.postsList);
                        // console.log(day);
                        // console.log(time);
                        // console.log(parent.runTimeData.user.userId);
                        // console.log("----");
                        openDialog(parent.runTimeData.user.userId,result.postsList, day, time, passnum);
                    });
                }, function (resp) {
                    alert('failed to fetch repeated driver post list.');
                });
                
            },
            change: function (e) {
                var
                    rowIndex = this.selectedRowIndex,
                    colIndex = this.selectedColIndex,
                    text;
                if (rowIndex > 0 && colIndex > 0) {
                    text = e.target.innerText;
                    this.rows[rowIndex - 1][colIndex].text = text;
                }
            }
        }
    });
    window.vm = vm;

    var setAlign = function (align) {
        var
            rowIndex = vm.selectedRowIndex,
            colIndex = vm.selectedColIndex,
            row, cell;
        if (rowIndex > 0 && colIndex > 0) {
            row = vm.rows[rowIndex - 1];
            cell = row[colIndex];
            cell.align = align;
        }
    };

    $('#cmd-refresh').click(function () {
        vm.refresh();
    });

    $('#cmd-apply').click(function () {
        vm.apply();
    });

    $('#cmd-left').click(function () {
        setAlign('left');
    });

    $('#cmd-center').click(function () {
        setAlign('center');
    });

    $('#cmd-right').click(function () {
        setAlign('right');
    });

    $('#toolbar button').focus(function () {
        $(this).blur();
    });
    showRepeated();
});


function showRepeated() {
    document.getElementById("SingleApplicationFilter").style.display = "none";
    document.getElementById("RepeatedApplicationFilter").style.display = "block";
}

function showSingle() {
    document.getElementById("RepeatedApplicationFilter").style.display = "none";
    document.getElementById("SingleApplicationFilter").style.display = "block";
}

</script>

</head>

<body>
    <button class="tablink" onclick="showRepeated()" id="defaultOpen">RepeatedApplication</button>
    <button class="tablink" onclick="showSingle()">SingleApplication</button>
    
    <div class="container">
            <div id="light" class="white_content"></div> 
            <div id="fade" class="black_overlay"></div> 
        <div class="row">
            <div class="col-sm-6">
                    <input id="pac-input" class="controls" type="text" placeholder="Search Box">
                    <!-- <div id="map" height="460px" width="100%"></div> -->
                    <div id="map"></div>
            </div>

            <div class="tabcontent col-sm-6">
                <div id="sheet" >
                    <div id="RepeatedApplicationFilter">
                            <span class="glyphicon glyphicon-th-list"></span> Available Drivers' repeated Posts <br/>
                            <p>semester: </p> <input type="text" v-model="semester"></input>
                            <p>passengerNumber: </p> <input type="text" v-model="passengerNumber"></input>
                            <p>range: </p> <input type="text" v-model="range"></input>
                            <p>type: </p> <input type="text" v-model="type"></input>
                            <button id="cmd-refresh" type="button" class="btn btn-default navbar-btn"><i class="glyphicon glyphicon-refresh"></i> Refresh</button>
                            <button id="cmd-apply" type="button" class="btn btn-default navbar-btn"><i class="glyphicon glyphicon-send"></i> Apply</button>
                        </div>
                        <div id="SingleApplicationFilter">
                                <span class="glyphicon glyphicon-th-list"></span> Available Drivers' single Posts <br/>
                                <p>startDate: </p> <input type="text" v-model="startDate"></input>
                                <p>endDate: </p> <input type="text" v-model="endDate"></input>
                                <p>range: </p> <input type="text" v-model="range"></input>
                                <p>type: </p> <input type="text" v-model="type"></input>
                            <span class="glyphicon glyphicon-th-list"></span> Available Drivers' single Posts <br/>
                            <button id="cmd-refresh" type="button" class="btn btn-default navbar-btn"><i class="glyphicon glyphicon-refresh"></i> Refresh</button>
                            <button id="cmd-apply" type="button" class="btn btn-default navbar-btn"><i class="glyphicon glyphicon-send"></i> Apply</button>
                    </div>
                    <table class="table table-bordered">
                        
                        <thead>
                            <tr>
                                <th v-for="cell in header" v-on:click="focus(cell)" v-text="cell.text"></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr v-for="tr in rows">
                                <td v-for="cell in tr" v-on:click="focus(cell)" v-on:blur="change" v-bind:contenteditable="cell.contentEditable" v-bind:bgcolor="cell.color" v-bind:style="{ textAlign: cell.align }" v-text="cell.text"></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <footer style="background-color:#ddd; padding: 20px 0;">
        <div class="container">
            <p>
                <a href="#">Contact Us</a>
            </p>
            <p>This application is created for CS601 side project</p>
        </div>
    </footer>

    <script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCdRxq9UR0bm3ORAE_GAxYyOrIzdwNQ0dw&libraries=places&callback=initMap">
    </script>
</body>

</html>